<header>
  <nav>
    <a href="/">PAEx</a>
    <a href="/invoices">Factures</a>
    <a href="/e_reports">E-Reporting</a>
    <a href="/companies">Entreprises</a>
  </nav>
</header>
<main>
  <%= @inner_content %>
</main>
